@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


/* Light Theme - Soft Gray Concept */
@theme {
  /* Cores de marca mais lavadas (pastéis profundos) */
  --color-primary: #6D28D9;        
  --color-primary-hover: #9333EA;

  --color-secondary: #492669;
  
  --color-tertiary: #F97D2A;        /* Amarelo dourado para detalhes e destaques */

  /* FUNDO: Cinza suave que "absorve" a luz */
  --color-background: #f1f5f8;     
  --color-surface: #dfe2e6;        
  --color-border: #CBD5E1;        

  /* TEXTO: Azul acinzentado para não ser tão "agressivo" quanto o preto */
  --color-title: #0a0c10;          /* Slate 700 */
  --color-body: #475569;           /* Slate 600 */
  --color-muted: #64748B;          /* Slate 500 */

  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --color-info: #3B82F6;

}

/* Dark Theme - Deep Charcoal (Mais suave que o preto) */
.dark {
  --color-primary: #60A5FA;
  --color-primary-hover: #93C5FD;

  /* FUNDO: Cinza grafite profundo */
  --color-background: #1E293B;     /* Slate 900 */
  --color-surface: #334155;        /* Slate 800 - Camada levemente mais clara */
  --color-border: #475569;         /* Slate 700 */

  /* TEXTO: Cinza azulado para evitar o efeito "neon" */
  --color-title: #E2E8F0;          /* Slate 200 */
  --color-body: #94A3B8;           /* Slate 400 */
  --color-muted: #64748B;          /* Slate 500 */
}

* {
  font-family: "Poppins", sans-serif;
}